@font-face {
  font-family: 'LTAIdentity';
  src: url('lta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
img[src="loading.svg"]{
  position: absolute;
  right: 50%;
  bottom: 50%;
  translate: 50% 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
#map {
  width: 100%;
  height: 100%;
  /* Important */
  z-index: 98;
}

h1 {
  z-index: 99;
  position: absolute;
  left: 50%;
  translate: -50%;
  font-family: sans-serif;
  font-size: 2rem;
  border-radius: 9e9rem;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

/* leaflet */
.leaflet-control {
  display: none;
}

.leaflet-popup-content {
  font-family: "LTAIdentity", sans-serif;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}


/* button */
button {
  background-color: hsl(76, 59%, 53%);
  color: black;
  border: none;
  margin: 0 0.125rem;
  transition: background-color 0.25s;
  font-family: "LTAIdentity", sans-serif;
  border-radius: 9e9rem;
}

button:hover {
  background-color: hsl(76, 59%, 70%);
}

button:active {
  background-color: hsl(76, 59%, 36%);
}

button:disabled {
  background-color: hsl(76, 30%, 53%);
}